extends html

snippet button "button" 
<lightning-button label="$1" onclick={$2}></lightning-button>
endsnippet


snippet card "card"
<lightning-card title="$1" icon-name="$2">
</lightning-card>
endsnippet

snippet for "for"
<template for:each={$1} for:item="$2" for:index="index">
	<div key={$2.$3}>
	</div>
</template>
endsnippet

